data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte.gz
.vscode
sampleSubmission.csv
cifar-10/test
cifar-10/train
cifar-10/trainLabels.csv
cifar-10
sampleSubmission.csv
anaconda_projects/db/project_filebrowser.db
anaconda_projects
data
cifar-10.zip
cn2.ipynb
CNN2.ipynb
resnet18_finetuned_best.pth
resnet18_transfer_best.pth
scratch_cnn_best.pth
